@page "/"
    <EditForm Model="model">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        @model.Number <InputSelect @bind-Value="model.NumberAsString" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </InputSelect>
        <InputSelect @bind-Value="model.Letter">
            <option value="a">a</option>
            <option value="b">b</option>
        </InputSelect>
    </EditForm>
<hr />
<h3>With BlazorStrap BSInput</h3>
    <EditForm Model="model2">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <BSInput InputType="InputType.Select" @bind-Value="model.Number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </BSInput>
    </EditForm>
 
@code
{
    TestModel model = new TestModel();
    TestModel model2 = new TestModel();
    override protected void OnInitialized() {
        model.Number = 3;
        model.Letter = "b";
        
        
    }    
}